{% if uidb64 %}
    {% if token %}
        <h3>Use this form to reset your password:</h3>
        <form action="{% url 'accounts:html_set_new_password' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="uid" value="{{ uidb64 }}">
            <input type="hidden" name="tkn" value="{{ token }}">
            <input type="submit" value="Confirm">
        </form>
    {% else %}
        <p>Token not found.</p>
    {% endif %}
{% else %}
    <p>uidb64 not found.</p>
{% endif %}