<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Base

    {% if user.is_authenticated %}
        Hello, {{ user.email }}
        <a href="{% url 'account_logout' %}">Logout</a>
        <a href="{% url 'accounts:html_profile' %}">Profile</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Signup</a>
    {% endif %}

    <a href="{% url 'root' %}">API</a>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block content %}
    {% endblock content %}
</body>
</html>